<div class="card p-4 fade-in">
  <h5 class="fw-bold text-secondary mb-3">SOLICITUDES DE VACACIONES</h5>
  <div class="table-responsive">
    <table class="table table-striped align-middle">
      <thead class="table-light" style="border-top: 2px solid var(--bbva-medium-blue);">
      <tr>
        <th>ID Colaborador</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Observaciones</th>
      </tr>
      </thead>
      <tbody id="vacationsTableBody"></tbody>
    </table>
  </div>
</div>